RewriteEngine On
RewriteBase /

# Remove .html extension
RewriteRule ^([a-zA-Z0-9_]+)$ $1.html

# Redirect non-www to www
RewriteCond %{HTTP_HOST} !^www\.clinamenic\.com$ [NC]
RewriteRule (.*) http://www.clinamenic.com/$1 [L,R=301]