/* Geist Mono Thin */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmQ5e6jXzTmgWFK4jpbr4eAfRFyqf922cfr6CkQMrj2PPg);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmQ5e6jXzTmgWFK4jpbr4eAfRFyqf922cfr6CkQMrj2PPg) format("opentype");
    font-weight: 100;
}
/* Geist Mono Ultralight */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/Qma6K2ZE6Ch7K76xkHQ8NFZ4odzNMDmDc41pcUVMBdSNot);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/Qma6K2ZE6Ch7K76xkHQ8NFZ4odzNMDmDc41pcUVMBdSNot) format("opentype");
    font-weight: 200;
}
/* Geist Mono Light */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSY4bzyQNZ3XZWTDdJgMovgSyfdrm6fa2wE426kTfkuuN);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSY4bzyQNZ3XZWTDdJgMovgSyfdrm6fa2wE426kTfkuuN) format("opentype");
    font-weight: 300;
}
/* Geist Mono Regular */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmUManxUqYX4sd1R4TjBJbR19YsCaVt7gpqiiuxVb6ins3);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmUManxUqYX4sd1R4TjBJbR19YsCaVt7gpqiiuxVb6ins3) format("opentype");
    font-weight: 400;
}
/* Geist Mono Medium */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmPrcRxMJ4wwR3UyKH91iFC7bgeEfJisW4CKSPS9FSdX4M);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmPrcRxMJ4wwR3UyKH91iFC7bgeEfJisW4CKSPS9FSdX4M) format("opentype");
    font-weight: 500;
}
/* Geist Mono Semibold */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmcPEgkJ2sRz5oUzxeuGWYp7KRfrLktr1HmX7wzeEBv6c6);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmcPEgkJ2sRz5oUzxeuGWYp7KRfrLktr1HmX7wzeEBv6c6) format("opentype");
    font-weight: 600;
}
/* Geist Mono Bold */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmXLsfAzuBZRLRSuxndV6YDng3xZcNWBuMo7kisDZhTmV3);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmXLsfAzuBZRLRSuxndV6YDng3xZcNWBuMo7kisDZhTmV3) format("opentype");
    font-weight: 700;
}
/* Geist Mono Black */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSVHJB1cNPr7j3tm3rZHhEVZnAvmaojL3RPAE6Zy7jYqk);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSVHJB1cNPr7j3tm3rZHhEVZnAvmaojL3RPAE6Zy7jYqk) format("opentype");
    font-weight: 800;
}
/* Geist Mono Ultrablack */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmZFtLSb3WzJUy8oy3t49iU6MCnsVynKFJmwJcKPGZBbP7);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmZFtLSb3WzJUy8oy3t49iU6MCnsVynKFJmwJcKPGZBbP7) format("opentype");
    font-weight: 900;
}

/* Roboto Mono Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');





* {
    box-sizing: border-box;
}

html {
    font-size: 16;
    font-family: "GeistMono", "Roboto Mono"; 
    font-weight: 200;
    background-color: black;
    color: white;
}

/* "list-style: none" prevents bullet points */
li {
    list-style: none;
}
p{
    padding: 0px;
    margin: 0px;
}
h1{
    padding: 0px;
    margin: 0px;
}
h2{
    padding: 0px;
    margin: 0px;
}
h3{
    padding: 0px;
    margin: 0px;
}
a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}
a:hover {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.header{
    position: fixed;
    background-color: black;
    border: 0px solid white;
    border-bottom-width: 1px;
    padding: 15px;
    padding-left: 25px;
    position: relative;
    color: white;
    z-index: 10000;

}
.nav-menu {
    display: flex;
}
.nav-item {
    margin-left: 35px;
}


.hamburger {
    display: none;
    margin-left: 20px;
}
.hamburger .bar:nth-child(1) {
    background-color: white;
}
.hamburger .bar:nth-child(2) {
    background-color: white;
}
.hamburger .bar:nth-child(3) {
    background-color: white;
}
/*The individual horizontal bars of the hamburger button*/
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* The horizontal menu in the header */
.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}



/*Cellular Automata BW: https://raw.githubusercontent.com/Clinamenic/clinamenic.github.io/main/CA%20BW%20square%201.gif */
.main-body-bg{
    background-image: url(https://i.ibb.co/7JkGzDv/blackskyv3.png);
    animation: background-drop 3s linear infinite;
    overflow-x: hidden
}
.main-body{
    color: white;
    margin-left: 8%;
    margin-right: 8%;

}


.body-p{
    text-align: justify;
    font-weight: 200;
    line-height: 1.5;
}
.body-poem{
    text-align: left;
    font-size: 20;
    font-weight: 100;
    line-height: 1.8;
}
.body-list{
    font-weight: 300;
    line-height: 1.5;
    padding: 25px;
}
.body-link{
    font-weight: 400;
}
.body-link:hover{
    font-weight: 600;
}



/*The clinamenic cube gif*/
.clinamenic-cube{
    display: flex;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 10px;
}
.clinamenic-rotate-bg{
    background-image: url(https://i.ibb.co/JxTFtr5/Clinamenic-Wrap-Small-Logo.png);
}
.clinamenic-rotate-fg{
    animation: rotate-image 10s linear infinite;
}
.diagram{
    display: flex;
    height: 100%;
    width: 100%;
}


.spacer10{
    height: 10px;
}
.spacer25{
    height: 25px;
}
.spacer50{
    height: 50px;
}
.spacer100{
    height: 100px;
}


.writing-title{
    font-weight: 400;
}
.writing-title:hover{
    font-weight: 600;
}


.cal-embed{
    display: flex;
    width: 100%;
    height: 100%;
    overflow: scroll;
}


.heading1{
    display: flex;
    justify-content: center;
    font-weight: 400;
}
.heading-sub{
    display: flex;
    justify-content: center;
    font-style: italic;
    font-size: 20px;
}
.heading2{
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 400;
}


.footer{
    display: flex;
    border-top: 1px solid white;
    align-items: normal;
    overflow: scroll;
}
.Clinamenic-Slide{
    padding: 25px;
    cursor: default;
}
.footer-list{
    padding: 10px;
}
.footer-list-title{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}
.footer-list-item{
    font-weight: 200;
}
.footer-list-item:hover{
    font-weight: 400;
}
.newsletter{
    display: grid;
    padding: 10px;
    padding-left: 20px;
}


.support-footer{
    margin-top: 0px;
    border-top: 1px solid white;
    align-items: center;
}
.support-note{
    font-size: 12;
    padding: 25px;
}
.support-list{
    display: flex;
    padding-left: 25px;
    padding-bottom: 25px;
}


.gallery1 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(1, 100%);
    grid-template-rows: repeat(infinite, 49%);
    justify-content: center;
    grid-row-gap: 25px;
}
.gallery2 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, 48.5%);
    grid-template-rows: repeat(infinite, 49%);
    justify-content: center;
    grid-row-gap: 25px;
    grid-column-gap: 3%;
}
.gallery3 {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(infinite, 48%);
    justify-content: center;
    grid-row-gap: 25px;
    grid-column-gap: 3%;
}
.gallery-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}


.marquee-image{
    animation: scroll-image 30s linear infinite;
    height: 170px;
    width: 600px;
    overflow-x: hidden; 
    white-space: nowrap;
}
.marquee-image:hover{
    animation-play-state: paused;
}
.marquee-text{
    animation: scroll-text 30s linear infinite;
    overflow-x: hidden;
    height: 20px;
    margin-left: -10%;
}


.text-box-container{
    display: flex;
    justify-content: center;
    width: 100%;
}
.text-box{
    position: relative;
    border: 1px solid white;
    border-radius: 10px;
    padding: 25px;
    overflow-x: hidden;
}




@keyframes scroll-image {
    0%{ transform:translateX(100vw) }
    100%{ transform:translateX(-100%) }
}
@keyframes scroll-text {
    0%{ transform:translateX(100%) }
    100%{ transform:translateX(-100%) }
}
@keyframes scroll-title {
    0%{ transform:translateX(0%) }
    100%{ transform:translateX(-100%) }
}
@keyframes background-drop {
    100% { 
        background-position-y: 1406px; 
        background-position-x: 0px;
    } 
}
@keyframes rotate-image {
    from { 
        transform: rotate(0deg); 
    } to { 
        transform: rotate(-360deg); 
    }
}




/* Slightly larger than standard tablet recs (tablet ~ min-width: 768px */
@media only screen and (max-width: 830px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 105px;
        margin-left: 10px;
        flex-direction: column;
        background-color: black;
        width: 200px;
        border-radius: 20px;
        text-align: left;
        border: 1px solid white;
        transition: 0.3s;

    }
    .nav-menu.active {
        left: 0;
        padding: 10px;
    }
    .nav-item {
        margin: 10px;
    }


    .hamburger {
        display: block;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 25px;
        align-content: center;
    }
    .hamburger.active .bar:nth-child(2) {
        background-color: white;
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        background-color: white;
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        background-color: white;
        transform: translateY(-8px) rotate(-45deg);
    }


    .body-p{
        text-align: justify;
        font-size: small;
        margin-left: 0px;
        margin-right: 0px;
    }
    .body-poem{
        margin-left: 0%;
        margin-right: 0%;
        font-size: x-small;
        font-weight: 300;
    }


    .newsletter{
        display: none;
    }


    .text-box-container{
        display: grid;
    }

    .gallery3 {
        display: grid;
        grid-template-columns: repeat(2, 48.5%);
        grid-template-rows: repeat(infinite, 49%);
        grid-row-gap: 25px;
        grid-column-gap: 3%;
    }
    .gallery2{
        grid-template-columns: repeat(1, 100%);
        grid-row-gap: 25px;
    }


}












/* Mobile size */
@media only screen and (max-width: 480px) {

    .gallery3 {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-template-rows: repeat(infinite, 48%);
        grid-gap: 25px;
    }

    .gallery__img {
        margin-bottom: 0%;
    }

}

@media only screen and (max-width: 350px) {

    .footer{
        border-top: 1px solid white;
        display: grid;
    }

}




/*  NOTES


Template for rotating animation: 

animation-name: rotate;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;





*/





.scroll-parent {
    position: relative;
    width: 100vw;
    height: 20rem;
    overflow-x: hidden;
    white-space: nowrap;
  }
  
  .scroll-element-primary {
    height: inherit;
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    animation: scroll-primary 10s linear infinite;
  }

  
  @keyframes scroll-primary {
    from {
      left: 100%;
    }
    to {
      left: -100%;
    }
  }
  

