/* Geist Mono Thin */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmQ5e6jXzTmgWFK4jpbr4eAfRFyqf922cfr6CkQMrj2PPg);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmQ5e6jXzTmgWFK4jpbr4eAfRFyqf922cfr6CkQMrj2PPg) format("opentype");
    font-weight: 100;
}
/* Geist Mono Ultralight */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/Qma6K2ZE6Ch7K76xkHQ8NFZ4odzNMDmDc41pcUVMBdSNot);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/Qma6K2ZE6Ch7K76xkHQ8NFZ4odzNMDmDc41pcUVMBdSNot) format("opentype");
    font-weight: 200;
}
/* Geist Mono Light */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSY4bzyQNZ3XZWTDdJgMovgSyfdrm6fa2wE426kTfkuuN);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSY4bzyQNZ3XZWTDdJgMovgSyfdrm6fa2wE426kTfkuuN) format("opentype");
    font-weight: 300;
}
/* Geist Mono Regular */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmUManxUqYX4sd1R4TjBJbR19YsCaVt7gpqiiuxVb6ins3);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmUManxUqYX4sd1R4TjBJbR19YsCaVt7gpqiiuxVb6ins3) format("opentype");
    font-weight: 400;
}
/* Geist Mono Medium */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmPrcRxMJ4wwR3UyKH91iFC7bgeEfJisW4CKSPS9FSdX4M);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmPrcRxMJ4wwR3UyKH91iFC7bgeEfJisW4CKSPS9FSdX4M) format("opentype");
    font-weight: 500;
}
/* Geist Mono Semibold */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmcPEgkJ2sRz5oUzxeuGWYp7KRfrLktr1HmX7wzeEBv6c6);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmcPEgkJ2sRz5oUzxeuGWYp7KRfrLktr1HmX7wzeEBv6c6) format("opentype");
    font-weight: 600;
}
/* Geist Mono Bold */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmXLsfAzuBZRLRSuxndV6YDng3xZcNWBuMo7kisDZhTmV3);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmXLsfAzuBZRLRSuxndV6YDng3xZcNWBuMo7kisDZhTmV3) format("opentype");
    font-weight: 700;
}
/* Geist Mono Black */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSVHJB1cNPr7j3tm3rZHhEVZnAvmaojL3RPAE6Zy7jYqk);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmSVHJB1cNPr7j3tm3rZHhEVZnAvmaojL3RPAE6Zy7jYqk) format("opentype");
    font-weight: 800;
}
/* Geist Mono Ultrablack */
@font-face {
    font-family: "GeistMono";
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmZFtLSb3WzJUy8oy3t49iU6MCnsVynKFJmwJcKPGZBbP7);
    src: url(https://indigo-cautious-chinchilla-877.mypinata.cloud/ipfs/QmZFtLSb3WzJUy8oy3t49iU6MCnsVynKFJmwJcKPGZBbP7) format("opentype");
    font-weight: 900;
}

/* Roboto Mono Family */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');




* {
    box-sizing: border-box;
}

html {
    font-size: 16;
    font-family: "GeistMono", "Roboto Mono"; 
    font-weight: 200;
    background-color: black;
    color: white;
}

/* "list-style: none" prevents bullet points */
li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 200;
}
a:hover {
    color: white;
    text-decoration: none;
    font-weight: 400;
}

.header{
    position: fixed;
    background-color: black;
    border: 0px solid white;
    border-bottom-width: 1px;
    padding: 20px;
    position: relative;
    color: white;
    z-index: 10000;

}

.nav-menu {
    display: flex;
}
.nav-item {
    margin-left: 35px;
}


.hamburger {
    display: none;
    margin-right: 20px;
}
.hamburger .bar:nth-child(1) {
    background-color: white;
}
.hamburger .bar:nth-child(2) {
    background-color: white;
}
.hamburger .bar:nth-child(3) {
    background-color: white;
}
/*The individual horizontal bars of the hamburger button*/
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

/* The horizontal menu in the header */
.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
}


/*Cellular Automata BW: https://raw.githubusercontent.com/Clinamenic/clinamenic.github.io/main/CA%20BW%20square%201.gif */
.main-body-bg{
    background-image: url(https://i.ibb.co/7JkGzDv/blackskyv3.png);
    animation: background-drop 3s linear infinite;
    overflow-x: hidden
}
.main-body{
    color: white;
    margin-left: 8%;
    margin-right: 8%;

}


.body-p{
    text-align: justify;
    font-weight: 200;
    line-height: 1.5;
}
.body-poem{
    text-align: left;
    font-size: 20;
    font-weight: 100;
    line-height: 1.8;
}
.body-list{
    font-weight: 300;
    line-height: 1.5;
    padding: 25px;
}
.body-link{
    font-weight: 400;
}
.body-link:hover{
    font-weight: 600;
}



/*The clinamenic cube gif*/
.clinamenic-cube{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
}
.diagram{
    display: flex;
    height: 100%;
    width: 100%;
}


.spacer10{
    height: 10px;
}
.spacer25{
    height: 25px;
}
.spacer50{
    height: 50px;
}
.spacer100{
    height: 100px;
}



.writing-title{
    font-weight: 400;
}

.writing-title:hover{
    font-weight: 600;
}



.cal-embed{
    display: flex;
    width: 75%;
    height: 75%;
}



.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
}
.heading-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 30px;

}
.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}


.footer{
    display: flex;
    border-top: 1px solid white;
    align-items: normal;
    overflow: scroll;
}
.Clinamenic-Slide{
    padding: 25px;
    cursor: default;
}
.footer-list{
    padding: 10px;
    padding-left: 20px;
}
.footer-list-title{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
}
.footer-list-item{
    font-weight: 200;
}
.footer-list-item:hover{
    font-weight: 400;
}
.newsletter{
    display: grid;
    padding: 10px;
    padding-left: 20px;
}


.support-footer{
    margin-top: 0px;
    border-top: 1px solid white;
    align-items: center;
}
.support-note{
    font-size: 12;
    padding: 25px;
}
.support-list{
    display: flex;
    padding-left: 25px;
    padding-bottom: 25px;
}


.gallery {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    grid-template-rows: repeat(infinite, 48%);
    grid-gap: 2%;
}
.gallery-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}   


.marquee-image{
    animation: slide-image 30s linear infinite;
    overflow-x: hidden
}
.marquee-image:hover{
    animation-play-state: paused;
}
.marquee-text{
    animation: slide-text 30s linear infinite;
    overflow-x: hidden;
    margin-left: -10%;
}




@keyframes slide-image {
    0%{ transform:translateX(120%) }
    100%{ transform:translateX(-80%) }
}
@keyframes slide-text {
    0%{ transform:translateX(160%) }
    100%{ transform:translateX(-100%) }
}
@keyframes background-drop {
    100% { 
        background-position-y: 1406px; 
        background-position-x: 0px;
    } 
}
@keyframes rotate {
    0% {rotate: 0deg;}
    25% {rotate: 90deg;}
    50% {rotate: 180deg;}
    75% {rotate: 270deg;}
    100% {rotate: 360deg;}
}

/* Template for rotating animation: 
animation-name: rotate;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: linear;
*/












@media only screen and (max-width: 920px) {

    .newsletter{
        display: none;
        padding: 25px;
    }
        
}

@media only screen and (max-width: 800px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 105px;
        margin-left: 10px;
        flex-direction: column;
        background-color: black;
        width: 200px;
        border-radius: 20px;
        text-align: left;
        border: 1px solid white;
        transition: 0.3s;

    }
    .nav-menu.active {
        left: 0;
        padding: 10px;
    }
    .nav-item {
        margin: 10px;
    }


    .hamburger {
        display: block;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 25px;
        align-content: center;
    }
    .hamburger.active .bar:nth-child(2) {
        background-color: white;
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        background-color: white;
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        background-color: white;
        transform: translateY(-8px) rotate(-45deg);
    }


    .body-p{
        text-align: justify;
        font-size: small;
        margin-left: 0px;
        margin-right: 0px;
    }
    .body-poem{
        margin-left: 0%;
        margin-right: 0%;
        font-size: x-small;
        font-weight: 300;
    }

}



@media only screen and (max-width: 480px) {

    .gallery {
        display: grid;
        grid-template-columns: repeat(2, 49%);
        grid-template-rows: repeat(infinite, 48%);
        grid-gap: 2%;
    }

    .gallery__img {
        margin-bottom: 0%;
    }

}

@media only screen and (max-width: 350px) {

    .footer{
        border-top: 1px solid white;
        display: grid;
    }

}

