@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16;
    font-family: "Roboto Mono"; 
    font-weight: 300;
    background-color: black;
    color: white;
    margin: 0px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    position: fixed;
    background-color: black;
    border-radius: 0px;
    border: 0px solid white;
    border-bottom-color: white;
    border-bottom-width: 1px;
    padding: 20px;
    margin: 0px;
    position: relative;
    color: white;
    z-index: 10000;

}

/*The horizontal menu in the header*/
.navbar {
    display: flex;
    position: relative;
    overflow: hidden;
    align-items: center;
    padding: 0px;

}

.hamburger {
    display: none;
    margin-right: 20px;
}

.hamburger .bar:nth-child(1) {
    background-color: white;
}

.hamburger .bar:nth-child(2) {
    background-color: white;
}

.hamburger .bar:nth-child(3) {
    background-color: white;
}

/*The individual horizontal bars of the hamburger button*/
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
display: flex;
}

.nav-item {
    margin-left: 20px;
}

.nav-link{
    font-size: 100%;
    font-weight: 400;
    color: white;
    padding-left: 15px;
}

.nav-link:hover{
    color: white;
    font-weight: 600;
}

.nav-logo {
    font-size: 100%;
    font-weight: 500;
    color: white;
    align-items: center;
    margin-right: 20px;
}

.newsletter-signup{
    display: none;
    border-width: 1px solid white;
    padding: 10px;
    margin-top: 55px;
    margin-left: 30px;
}

/*Cellular Automata BW: https://raw.githubusercontent.com/Clinamenic/clinamenic.github.io/main/CA%20BW%20square%201.gif */
.main-body{
    padding: 25px;
    color: white;
    margin-top: 25px;
    background-image: url("");
}

.body-p{
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    border-width: 0px;
    text-align: justify;
    font-weight: 300;
    line-height: 1.5;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.body-poem{
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    border-width: 0px;
    text-align: left;
    font-size: 20;
    font-weight: 100;
    line-height: 1.8;
    padding: 25px;
    margin-left: 5%;
    margin-right: 5%;
}

.body-list{
    border-style: solid;
    border-radius: 25px;
    border-color: white;
    border-width: 0px;
    font-weight: 300;
    line-height: 1.5;
    padding: 25px;
    margin-left: 10%;
    margin-right: 10%;
}

.body-link{
    font-weight: 500;
}

/*The clinamenic cube gif*/
.clinamenic-cube{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 0px;
    padding-bottom: 10px;
}

.spacer50{
    height: 50px;
}

.cal-embed{
    display: flex;
    width: 75%;
    height: 75%;
}

.heading1{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    padding-bottom: 10px;
}

.heading1-sub{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 200;
    font-style: italic;
    font-size: 20px;
    padding-bottom: 30px;

}

.heading2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.footer{
    display: flex;
    margin-top: 50px;
    border-top: 1px solid white;
    align-items: normal;
    overflow: scroll;
}

.Clinamenic-Slide{
    padding: 25px;
    cursor: default;
}

.footer-list{
    font-size: 16px;
    color: white;
    padding-left: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}

.footer-list-title{
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding-bottom: 10px;
}

.footer-list-item{
    color: white;
    font-weight: 200;
}

.footer-list-item:hover{
    font-weight: 400;
}

.newsletter{
    display: none;
}

.support-footer{
    margin-top: 0px;
    border-top: 1px solid white;
    align-items: center;
}

.support-note{
    font-size: 12;
    padding: 25px;
}

.support-list{
    display: flex;
    padding-left: 25px;
    padding-bottom: 25px;
}


@media only screen and (min-width: 920px) {
 
    .newsletter-signup {
        display: flex;
        border-width: 1px solid white;
        padding: 7px;
        margin-left: 80px;
    }

    .newsletter{
        display: grid;
        padding: 25px;
    }
        
}

@media only screen and (max-width: 800px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 105px;
        margin-left: 10px;
        flex-direction: column;
        background-color: black;
        width: 200px;
        border-radius: 20px;
        text-align: left;
        border: 1px solid white;
        transition: 0.3s;

    }

    .nav-menu.active {
        left: 0;
        padding: 10px;
    }

    .nav-item {
        margin: 10px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-left: 25px;
        align-content: center;
    }

    .hamburger.active .bar:nth-child(2) {
        background-color: white;
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        background-color: white;
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        background-color: white;
        transform: translateY(-8px) rotate(-45deg);
    }

    .newsletter-signup {
        display: none;
    }

    .body-p{
        text-align: center;
        font-size: small;
        margin-left: 0px;
        margin-right: 0px;
    }



}

@media only screen and (max-width: 650px) {

    .body-poem{
        margin-left: 0%;
        margin-right: 0%;
        font-size: x-small;
        font-weight: 300;
    }

}

@media only screen and (max-width: 350px) {

    .footer{
        border-top: 1px solid white;
        display: grid;
    }

}

